/* Styles for the Advanced Markup assignment. */
/*color scheme
#1a090d
#4a314d
#6b6570
#a8ba9a
#ace894
*/

nav ul li{
    list-style-type: disc;
    display: inline;
    padding: 1rem;
    background-color: #ace894;
}

.active{
    font-weight: bold;
    color: #4e4a52;
}