/* Styles for the Advanced Markup assignment. */
/*color scheme
#1a090d
#4a314d
#6b6570
#a8ba9a
#ace894
*/

nav ul li{
    list-style-type: disc;
    display: inline;
    padding: 1rem;
    background-color: #ace894;
}

.active{
    font-weight: bold;
    color: #4e4a52;
}

.bio-photo{
    float: left;
    background-color: #4a314d;
    padding: 20px;
    color: white;
    border: ridge #1a090d;
    margin: 1rem;
}

.bio-photo img{
    text-align: center;
    width: 100%;
    height: auto;
}

#sidebar{
    float: right;
    width: 25%;
    background-color: #a8ba9a;
    margin: 2rem;
    padding: 1rem;
}

dt{
    font-weight: 600;
}